html, body {
  height: 100vh;
  font-family: "Oxygen";
  
  }
@media (min-width: 576px){
.col-sm-3 {
    flex: 0 0 25%;
    max-width: 18%;
}
}
@media (min-width: 576px){
.col-sm-9 {
    flex: 0 0 75%;
    max-width: 82%;
}
}


.row{
  margin-right: 0px;
  margin-left: 0px;
}
.col-sm-10{
padding-right: 0px;
padding-left: 0px;
}
span{
font-size:15px;
}
.order_div{
padding:20px;
}
@media (max-width: 1000px){
.orders__filters-item {
    margin-right: 0px;
    display: flex;
    align-items: center;
    margin: 10px;
}
}
.header__controls.open {
right: 0;
display: flex;
}
.table-responsive {
display: block;
width: 100%;
overflow-x: auto;
-webkit-overflow-scrolling: touch;
}
.pagination{
margin-left: auto;
}
dl, ol, ul {
margin-bottom: 0rem;
}
.product-form{
padding-bottom: 0px;
}
.product-text{
height: 50px;
}
.input-detail{
  width: 100%;
}
.dataTable{
border-style: solid;
border-width: 1.5px;
border-color: #E8EEF1;
}
.table-striped tbody tr:nth-of-type(odd) {
background-color: rgba(0, 243, 255, 0.05);
}
.check-box{
width: 80%;
padding-left: 80px;
}
.prurprice-dataTable{
border-style: solid;
border-width: 1.5px;
border-color: #E8EEF1;
padding-top: 0px;
}
.purprice-title{
padding-top:20px;
font-size: 16px;
line-height: 10px;
margin-bottom: 0px;
font-weight: bold;
}
.react-datepicker-wrapper{
width:100%
}
.myDatePicker {
width:100%;
height: 37px;
}
.product-details{
padding-bottom: 20px;
}
.btn-small{
width:10%;
}
.transport{
padding-bottom: 50px;
}
.sales-details{
max-width: 750px;
}
.add-row{
display: inline-block;
margin: 0.375rem;
}
.prurprice-dataTable {
border-style: solid;
border-width: 1.5px;
border-color: #E8EEF1;
padding-top: 0px;
margin-top: 0px;
}
.purchase-order-table{
height: 600px;
}
.login-page{
text-align: center;
}
.login-page-div{
margin-top: calc(20%);
border: 2px solid rgba(2, 7, 8, 0.16);
border-radius: 5px;
}
.login-form{
padding-top:50px
}
.orders__filters-search {
width: calc(81%);
}
.sign-in{
font-size: 15px;
width: 160px;
height: 35px;
margin-bottom: 20px;
}
.rw-multiselect-taglist {
margin-bottom: 7px;
}
.react-datepicker-wrapper{
  width:100%
  }
.myDatePicker {
  width:100%;
  height:calc(1.5em + .75rem + 2px);;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #ced4da;
  padding: 10px;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
.myDatePicker:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.css-1szy77t-control:hover {
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #495057;
  background-color: #fff;
  border-color: #80bdff !important;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
}
.css-1szy77t-control{
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
  border-color: #80bdff !important;
}
.order_div {
  padding: 20px;
}